*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  padding: 1rem 1rem 4rem;
}
body.open {
  filter: grayscale(50%);
}
body.open nav {
  display: flex;
}
body header {
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
body header img.logo {
  max-height: 28px;
  width: auto;
}
body header img.menu-open {
  display: block;
}
body header nav {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 66vw;
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 8rem;
  display: none;
}
body header nav::after {
  content: "";
  background-color: hsla(0deg, 0%, 0%, 0.3);
}
body header nav a {
  color: hsl(240deg, 100%, 5%);
  text-decoration: none;
  font-size: 1.2rem;
}
body header nav a:hover {
  color: hsl(5deg, 85%, 63%);
}
body main {
  display: grid;
  gap: 4rem;
}
body main section.hero img {
  width: 100%;
}
body main section.hero h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  color: hsl(240deg, 100%, 5%);
  margin: 1.333rem 0 1rem;
}
body main section.hero p {
  line-height: 1.75;
  color: hsl(236deg, 13%, 42%);
  margin-bottom: 1.5rem;
}
body main section.hero button {
  background: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  text-transform: uppercase;
  font-size: 0.933rem;
  letter-spacing: 4px;
  border: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
body main section.hero button:hover {
  background: hsl(240deg, 100%, 5%);
}
body main aside {
  background: hsl(240deg, 100%, 5%);
  padding: 1.333rem;
}
body main aside h2 {
  color: hsl(35deg, 77%, 62%);
  font-size: 2rem;
}
body main aside ul li {
  list-style: none;
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
  padding: 2rem 0 1.75rem;
  cursor: pointer;
}
body main aside ul li:hover h3 {
  color: hsl(35deg, 77%, 62%);
}
body main aside ul li h3 {
  color: hsl(36deg, 100%, 99%);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  padding-bottom: 0.5rem;
}
body main aside ul li p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.8;
}
body main aside ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
body main section.cards {
  display: grid;
  gap: 2rem;
}
body main section.cards figure {
  display: flex;
  gap: 1.3333333333rem;
}
body main section.cards figure div {
  flex: 0 1 30%;
}
body main section.cards figure div img {
  width: 100%;
}
body main section.cards figure figcaption {
  flex: 0 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
body main section.cards figure figcaption:hover h4 {
  color: hsl(5deg, 85%, 63%);
}
body main section.cards figure figcaption em {
  color: hsl(233deg, 8%, 79%);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
body main section.cards figure figcaption h4 {
  color: hsl(240deg, 100%, 5%);
  font-size: 1.1rem;
  font-weight: 800;
}
body main section.cards figure figcaption p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.5;
}/*# sourceMappingURL=styles.css.map */